/* DEFAULT: 320px — 480px: Mobile devices */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding: 7.5%;

    border: 2px solid var(--clr-white);

    background-color: var(--clr-dark-900);
}

.image {
    border: 5px double black;

    background-color: var(--clr-white);
}

.text {
    margin-top: 7.5%;
    font-size: 0.9rem;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    color: var(--clr-white);
}

/* 481px — 768px: iPads, Tablets */
@media screen and (min-width: 481px) {
    .text {
        font-size: 1.2rem;
    }
}
