/* DEFAULT: 320px — 480px: Mobile devices */

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    place-content: center;

    padding: 10px;
    flex-grow: 1;

    background-color: var(--clr-dark-800);
}
