/* DEFAULT: 320px — 480px: Mobile devices */

.container {
    margin: var(--grid-spacing);

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid var(--clr-white);
    border-radius: 3px;

    background-color: var(--clr-dark-900);
}

.image {
    --size: 82px;

    width: var(--size);
    height: var(--size);

    border: 2px solid var(--clr-dark-900);
    border-radius: 3px;

    background-color: var(--clr-white);
}

.text {
    font-size: 1rem;
    color: var(--clr-white);
    text-transform: capitalize;
    padding: 0.1em;
}

/* 481px — 768px: iPads, Tablets */
@media screen and (min-width: 481px) {
    .image {
        --size: 130px;
    }

    .text {
        font-size: 1.25rem;
    }
}

/* 769px - 1024px: Small screens, laptops */
@media screen and (min-width: 769px) {
    .image {
        --size: 170px;
    }

    .text {
        font-size: 1.5rem;
    }
}

/* 1201px and more: Extra large screens, TV */
@media screen and (min-width: 1201px) and (min-height: 1080px) {
    .image {
        --size: 180px;
    }

    .text {
        font-size: 1.75rem;
    }
}
