.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    padding: 7.5%;

    background-color: var(--clr-dark-900);
    border: 2px solid var(--clr-white);
}

.image {
    border: 5px double black;
    background-color: var(--clr-white);
}

.text {
    margin-top: 5%;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;

    color: var(--clr-white);
    text-transform: capitalize;
}
