/* DEFAULT: 320px — 480px: Mobile devices */
.container {
    --spacing: 10px;
    --grid-spacing: calc(var(--spacing) / 2);

    width: 100%;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: var(--clr-dark-800);

    padding: var(--spacing);
}

/* 481px — 768px: iPads, Tablets */
@media screen and (min-width: 481px) {
    .container {
        --spacing: 12.5px;
    }
}

/* 769px - 1024px: Small screens, laptops */
@media screen and (min-width: 769px) {
    .container {
        --spacing: 15px;
    }
}

/* 1025px - 1200px: Desktops, large screens */
@media screen and (min-width: 1025px) {
    .container {
        --spacing: 20px;
    }
}
/* 1201px and more: Extra large screens, TV */
@media screen and (min-width: 1201px) and (min-height: 1080px) {
    .container {
        --spacing: 25px;
        max-width: 1000px;
    }
}
