/* DEFAULT: 320px — 480px: Mobile devices */

.container {
    text-align: center;
    color: var(--clr-white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
    padding: 0.5rem;
    font-size: 1rem;
}

.container > * + * {
    margin-top: 2em;
}

.gameOver {
    font-weight: 600;
    font-size: 2.75em;
    margin: 0;
    text-transform: uppercase;
}

.score {
    font-weight: 400;
    font-size: 1.5em;
}

.btn {
    border: solid 2px transparent;
    border-radius: 0.4em;
    padding: 0.5em 1em;
    color: var(--clr-white);
    background-color: var(--clr-dark-900);
    outline: solid transparent;
    font-size: 1.25em;
    font-weight: 600;
}

.btn:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.btn:hover,
.btn:focus {
    color: var(--clr-dark-900);
    border-color: currentColor;
    background-color: var(--clr-white);
}

/* 481px — 768px: iPads, Tablets */
@media screen and (min-width: 481px) {
    .container {
        font-size: 1.25rem;
    }
}
