.container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 20px 0 20px;
}

.container > .score + .score {
    margin-left: 10px;
}

.score {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    text-align: center;
    background-color: #192a56;
    color: var(--clr-white);
}
