.container {
    display: flex;
    padding: 10px;
}

.container > .score + .score {
    margin-left: 10px;
}

.score {
    flex-basis: 100%;

    padding: 0.25em;
    border-radius: 0.5em;
    text-align: center;
    background-color: #192a56;
    color: var(--clr-white);
    white-space: nowrap;
}
