/* DEFAULT: 320px — 480px: Mobile devices */

.container {
    width: 100%;
    max-width: 800px;

    display: grid;
    grid-template-areas:
        'scoreboard scoreboard scoreboard'
        'currentScore instructionsBtn bestScore';
    grid-template-columns: 1fr auto 1fr;
    gap: var(--spacing);

    padding: var(--spacing);
}

.instructionsBtn {
    composes: score from './Scoreboard.module.css';

    grid-area: instructionsBtn;
    padding: 0.25em 0.75em;

    background-color: var(--clr-dark-900);
}

/* 481px — 768px: iPads, Tablets */
@media screen and (min-width: 481px) {
    .container {
        font-size: 1.5rem;
    }
}

/* 1025px - 1200px: Desktops, large screens */
@media screen and (min-width: 1025px) {
    .container {
        font-size: 1.75rem;
    }
}
