/* DEFAULT: 320px — 480px: Mobile devices */

.container {
    display: grid;
    grid-template-areas:
        'scoreboard scoreboard'
        'currentScore bestScore';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content 1fr;
    gap: 0.5rem;

    padding: 0.5rem;
}
