/* DEFAULT: 320px — 480px: Mobile devices */

.container {
    width: 100%;
    max-width: 800px;

    display: grid;
    grid-template-areas:
        'scoreboard scoreboard'
        'currentScore bestScore';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--spacing);

    padding: var(--spacing);
}

/* 481px — 768px: iPads, Tablets */
@media screen and (min-width: 481px) {
    .container {
        font-size: 1.5rem;
    }
}
