/* DEFAULT: 320px — 480px: Mobile devices */

.header {
    background-color: var(--clr-dark-900);
    width: 100%;
}

.gameName {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: var(--clr-white);
    margin: 0;
    padding: 0.75em 0.25em;
}

/* 481px — 768px: iPads, Tablets */
@media screen and (min-width: 481px) {
    .gameName {
        font-size: 2.5rem;
    }
}

/* 769px - 1024px: Small screens, laptops */
@media screen and (min-width: 769px) {
    .gameName {
        font-size: 2.75rem;
    }
}

/* 1025px - 1200px: Desktops, large screens */
@media screen and (min-width: 1025px) {
    .gameName {
        font-size: 3.5rem;
    }
}
