/* DEFAULT: 320px — 480px: Mobile devices */

.header {
    background-color: var(--clr-dark-900);
    font-size: 0.9rem;
    padding: 0.5em;
    width: 100%;
}

.gameName {
    text-align: center;
    font-weight: 600;
    color: var(--clr-white);
}
