@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --clr-dark-900: #2f3640;
    --clr-dark-800: #353b48;
    --clr-white: #f5f6fa;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body,
#root {
    height: 100%;
}
